# Node
node_modules
dist
coverage

# Logs
logs
*.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build tools
.turbo
.next
out