# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

###############################################
# Dependencies
###############################################
node_modules/
.pnp
.pnp.js
bun.lockb

###############################################
# Local environment files
###############################################
.env
.env.*
!env.example

###############################################
# Testing
###############################################
coverage/
*.test.ts
*.spec.ts

###############################################
# Turbo Repo
###############################################
.turbo/

###############################################
# Vercel / Deployment
###############################################
.vercel/

###############################################
# Build Outputs
###############################################
# Next.js
.next/
out/

# API / other builds
build/
dist/

###############################################
# Cache & Temp Files
###############################################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

.cache/
temp/
tmp/

###############################################
# IDE
###############################################
.vscode/
.idea/

###############################################
# OS files
###############################################
.DS_Store
Thumbs.db

###############################################
# Misc
###############################################
*.pem
# .gitignore
*.tar
*.tar.gz
.env
node_modules/
dist/